<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parchados"
        tools:targetApi="31">
        <activity
            android:name=".activities.active.InProgress"
            android:exported="false" />
        <activity
            android:name=".activities.learning.JoinAClass"
            android:exported="false" />
        <activity
            android:name=".activities.parchar.JoinAParche"
            android:exported="false" />
        <activity
            android:name=".activities.learning.CreateClass"
            android:exported="false" />
        <activity
            android:name=".activities.selectplacemap.SelectPlace"
            android:exported="false" />
        <activity
            android:name=".activities.parchar.CreateParche"
            android:exported="false" />
        <activity
            android:name=".activities.home.Learn"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.home.Parchar"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.signup.SignUpInformationActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.Access"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>